@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,600;1,600&display=swap');
html {
  scroll-behavior: smooth;
}


.font-class {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

:root{
  --secondary-color:#030201 ;
  --primary-color:#f42c37 ;
  --background-color:#e5e7eb ;
  --border-color:ring-pink-400 ;
}
*{
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
} 